# pandas 실습 과제 (7/17)

## 2024년 6월 서울시 지하철호선별 역별 승하차 인원 정보

- 데이터: https://data.seoul.go.kr/dataList/OA-12914/S/1/datasetView.do
- 2024년 6월 데이터

1. 2024년 6월 서울시 지하철 노선별 역별 승하차 인원 정보 파일을 읽어와서 데이터프레임으로 저장하세요.

2. 데이터프레임(df)의 처음과 마지막 5개의 로우를 각각 출력하세요.

3. 데이터프레임(df)이 몇 개의 로우와 행으로 이루어져 있는지 구조(shape)를 확인하세요.

4. 데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.

5. 데이터프레임(df)에 몇 개의 컬럼이 있는지, 각 컬럼에 포함된 데이터들의 타입은 무엇인지 확인해보세요.

6. ‘노선명’ 컬럼이 가지고 있는 데이터의 종류를 확인하세요.

7. ‘노선명’ 컬럼의 각 데이터가 몇 개씩 포함되어 있는지 확인하세요.

8. ‘승차총승객수’ 컬럼을 기준으로 데이터를 정렬하세요.

9. ‘노선명’ 컬럼을 선택하세요.

10. 데이터프레임의 위에서부터 10개(0번째부터 9번째)의 데이터(로우)를 선택하세요.

11. 데이터프레임에서 ‘노선명’이 ‘2호선’인 로우만 선택하세요.

12. 데이터프레임에서 ‘승차총승객수’가 50,000명 이상인 로우의 ‘역명’을 선택하세요.

13. '승차총승객수'의 최대값과 최대값 로우의 인덱스가 무엇인지 확인하세요.

14. 데이터프레임에서 0번 로우를 삭제하세요.

15. 데이터프레임에서 ‘등록일자’ 컬럼을 삭제하세요.

16. ‘승차총승객수’ 컬럼의 모든 값을 2씩 증가시키세요.

17. ‘승차총승객수’와 ‘하차총승객수’ 컬럼의 차이를 계산한 ‘승하차총승객수차이’ 컬럼을 생성하세요.

18. ‘승하차총승객수차이’의 평균값을 계산하세요.

19. 데이터프레임에서 10개의 행을 샘플링하세요.

20. 샘플링된 데이터프레임(sample_df)의 값에서 ‘노선명’ 컬럼의 값이 1호선, 2호선, 3호선, 4호선인  값을 영어(line1, line2, line3, line4)로 변경하세요.

21. 데이터프레임(df)의 ‘사용일자’ 컬럼을 연도-월-일(예: 2021-02-01)의 형태로 표시되도록 수정하세요.*

22. 데이터프레임(df)의 ‘사용일자1’ 컬럼을 새로 생성하고, ‘사용일자’ 컬럼에 있는 값을 datetime64의 타입으로 변환하여 저장하세요.

23. ‘노선명’을 기준으로 데이터를 그룹화하고, 각 그룹의 ‘승차총승객수’와 ‘하차총승객수’의 합을 구하세요.

24. ‘승차총승객수’ 컬럼의 값이 100,000 이상인 경우 ‘high’, 그렇지 않은 경우 ‘low’로 표시하는 새로운 컬럼 ‘승차레벨’을 추가하세요.

25. ‘노선명’ 컬럼의 값에 대해 map 함수를 사용하여 영어로 변환된 값을 가진 새로운 컬럼 ‘노선명_영어’를 추가하세요.

27. ‘승차총승객수’를 구간별로 나누어 ‘승차구간’이라는 새로운 컬럼을 추가하세요.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [38]:
import pandas as pd
import seaborn as sns

#### 1. 2024년 6월 서울시 지하철노선별 역별 승하차 인원 정보 파일을 읽어와서 데이터프레임으로 저장하세요.
- dataload

#### 2. 데이터프레임(df)의 처음과 마지막 5개의 로우를 각각 출력하세요.
- `head` and `tail`

#### 3. 데이터프레임(df)이 몇 개의 로우와 행으로 이루어져 있는지 구조(shape)를 확인하세요.
- `shape`

#### 4. 데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
- `describe`

#### 5. 데이터프레임(df)에 몇 개의 컬럼이 있는지, 각 컬럼에 포함된 데이터들의 타입은 무엇인지 확인해보세요.
- `info`

#### 6. ‘노선명’ 컬럼이 가지고 있는 데이터의 종류를 확인하세요.
- `unique`

#### 7. ‘노선명’ 컬럼의 각 데이터가 몇 개씩 포함되어 있는지 확인하세요.
- `value_counts`

#### 8. ‘승차총승객수’ 컬럼을 기준으로 데이터를 정렬하세요.
- `sort_values`

#### 9. ‘노선명’ 컬럼을 선택하세요.

#### 10. 데이터프레임의 위에서부터 10개(0번째부터 9번째)의 데이터(로우)를 선택하세요.
- `iloc`

#### 11. 데이터프레임에서 ‘노선명’이 ‘2호선’인 로우만 선택하세요.
- filtering

#### 12. 데이터프레임에서 ‘승차총승객수’가 50,000명 이상인 로우의 ‘역명’을 선택하세요.
- filtering

#### 13. '승차총승객수'의 최대값과 최대값 로우의 인덱스가 무엇인지 확인하세요.
- `max` and `idxmax`

#### 14. 데이터프레임에서 0번 로우를 삭제하세요.
- `drop`

#### 15. 데이터프레임에서 ‘등록일자’ 컬럼을 삭제하세요.
- `drop`

#### 16. ‘승차총승객수’ 컬럼의 모든 값을 2씩 증가시키세요.

#### 17. ‘승차총승객수’와 ‘하차총승객수’ 컬럼의 차이를 계산한 ‘승하차총승객수차이’ 컬럼을 생성하세요.

#### 18. ‘승하차총승객수차이’의 평균값을 계산하세요.
- `mean`

#### 19. 데이터프레임에서 10개의 행을 샘플링하세요.
- `sample`

#### 20. 샘플링된 데이터프레임(sample_df)의 값에서 ‘노선명’ 컬럼의 값이 1호선, 2호선, 3호선, 4호선인  값을 영어(line1, line2, line3, line4)로 변경하세요.
- `replace`

#### 21. 데이터프레임(df)의 ‘사용일자’ 컬럼을 연도-월-일(예: 2021-02-01)의 형태로 표시되도록 수정하세요.
- `to_datetime`

#### 22. 데이터프레임(df)의 ‘사용일자1’ 컬럼을 새로 생성하고, ‘사용일자’ 컬럼에 있는 값을 datetime64의 타입으로 변환하여 저장하세요.
- `to_datetime`

#### 23. ‘노선명’을 기준으로 데이터를 그룹화하고, 각 그룹의 ‘승차총승객수’와 ‘하차총승객수’의 합, 평균, 표준편차를 구하세요.
- `groupby` and `agg`

#### 24. ‘승차총승객수’ 컬럼의 값이 100,000 이상인 경우 ‘high’, 그렇지 않은 경우 ‘low’로 표시하는 새로운 컬럼 ‘승차레벨’을 추가하세요.
- `apply`

#### 25. ‘노선명’ 컬럼의 값에 대해 map 함수를 사용하여 영어로 변환된 값을 가진 새로운 컬럼 ‘노선명_영어’를 추가하세요.
- `map`

#### 26. ‘승차총승객수’를 구간별로 나누어 ‘승차구간’이라는 새로운 컬럼을 추가하세요.
- 구간은 0-50,000, 50,001-100,000, 100,001-150,000, 150,001 이상으로 설정합니다.
- `cut`