# pandas 실습 과제 (7/17)

## 2024년 6월 서울시 지하철호선별 역별 승하차 인원 정보

1. 2024년 6월 서울시 지하철 노선별 역별 승하차 인원 정보 파일을 읽어와서 데이터프레임으로 저장하세요.

2. 데이터프레임(df)의 처음과 마지막 5개의 로우를 각각 출력하세요.

3. 데이터프레임(df)이 몇 개의 로우와 행으로 이루어져 있는지 구조(shape)를 확인하세요.

4. 데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.

5. 데이터프레임(df)에 몇 개의 컬럼이 있는지, 각 컬럼에 포함된 데이터들의 타입은 무엇인지 확인해보세요.

6. ‘노선명’ 컬럼이 가지고 있는 데이터의 종류를 확인하세요.

7. ‘노선명’ 컬럼의 각 데이터가 몇 개씩 포함되어 있는지 확인하세요.

8. ‘승차총승객수’ 컬럼을 기준으로 데이터를 정렬하세요.

9. ‘노선명’ 컬럼을 선택하세요.

10. 데이터프레임의 위에서부터 10개(0번째부터 9번째)의 데이터(로우)를 선택하세요.

11. 데이터프레임에서 ‘노선명’이 ‘2호선’인 로우만 선택하세요.

12. 데이터프레임에서 ‘승차총승객수’가 50,000명 이상인 로우의 ‘역명’을 선택하세요.

13. '승차총승객수'의 최대값과 최대값 로우의 인덱스가 무엇인지 확인하세요.

14. 데이터프레임에서 0번 로우를 삭제하세요.

15. 데이터프레임에서 ‘등록일자’ 컬럼을 삭제하세요.

16. ‘승차총승객수’ 컬럼의 모든 값을 2씩 증가시키세요.

17. ‘승차총승객수’와 ‘하차총승객수’ 컬럼의 차이를 계산한 ‘승하차총승객수차이’ 컬럼을 생성하세요.

18. ‘승하차총승객수차이’의 평균값을 계산하세요.

19. 데이터프레임에서 10개의 행을 샘플링하세요.

20. 샘플링된 데이터프레임(sample_df)의 값에서 ‘노선명’ 컬럼의 값이 1호선, 2호선, 3호선, 4호선인  값을 영어(line1, line2, line3, line4)로 변경하세요.

21. 데이터프레임(df)의 ‘사용일자’ 컬럼을 연도-월-일(예: 2021-02-01)의 형태로 표시되도록 수정하세요.*

22. 데이터프레임(df)의 ‘사용일자1’ 컬럼을 새로 생성하고, ‘사용일자’ 컬럼에 있는 값을 datetime64의 타입으로 변환하여 저장하세요.

In [ ]:
import pandas as pd
import seaborn as sns

#### 1. 2024년 6월 서울시 지하철노선별 역별 승하차 인원 정보 파일을 읽어와서 데이터프레임으로 저장하세요.
- dataload

#### 2. 데이터프레임(df)의 처음과 마지막 5개의 로우를 각각 출력하세요.
- `head` and `tail`

#### 3. 데이터프레임(df)이 몇 개의 로우와 행으로 이루어져 있는지 구조(shape)를 확인하세요.
- `shape`

#### 4. 데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
- `describe`

#### 5. 데이터프레임(df)의 각 컬럼에 포함된 데이터들의 타입은 무엇인지 확인해보세요.
- `dtypes`

#### 6. ‘노선명’ 컬럼이 가지고 있는 데이터의 종류를 확인하세요.
- `unique`

#### 7. ‘노선명’ 컬럼의 각 데이터가 몇 개씩 포함되어 있는지 확인하세요.
- `value_counts`

#### 8. ‘승차총승객수’ 컬럼을 기준으로 데이터를 정렬하세요.
- `sort_values`

#### 9. ‘노선명’ 컬럼을 선택하세요.

#### 10. 데이터프레임의 위에서부터 10개(0번째부터 9번째)의 데이터(로우)를 선택하세요.
- `iloc`

#### 11. 데이터프레임에서 ‘노선명’이 ‘2호선’인 로우만 선택하세요.
- filtering

#### 12. 데이터프레임에서 ‘승차총승객수’가 50,000명 이상인 로우의 ‘역명’을 선택하세요.
- filtering

#### 13. '승차총승객수'의 최대값과 최대값 로우의 인덱스가 무엇인지 확인하세요.
- `max` and `idxmax`

#### 14. 데이터프레임에서 0번 로우를 삭제하세요.
- `drop`

#### 15. 데이터프레임에서 ‘등록일자’ 컬럼을 삭제하세요.
- `drop`

#### 16. ‘승차총승객수’ 컬럼의 모든 값을 2씩 증가시키세요.

#### 17. ‘승차총승객수’와 ‘하차총승객수’ 컬럼의 차이를 계산한 ‘승하차총승객수차이’ 컬럼을 생성하세요.

#### 18. ‘승하차총승객수차이’의 평균값을 계산하세요.
- `mean`

#### 19. 데이터프레임에서 10개의 행을 샘플링하세요.
- `sample`

#### 20. 샘플링된 데이터프레임(sample_df)의 값에서 ‘노선명’ 컬럼의 값이 1호선, 2호선, 3호선, 4호선인  값을 영어(line1, line2, line3, line4)로 변경하세요.
- `replace`

#### 21. 데이터프레임(df)의 ‘사용일자’ 컬럼을 연도-월-일(예: 2021-02-01)의 형태로 표시되도록 수정하세요.
- `to_datetime`

#### 22. 데이터프레임(df)의 ‘사용일자1’ 컬럼을 새로 생성하고, ‘사용일자’ 컬럼에 있는 값을 datetime64의 타입으로 변환하여 저장하세요.
- `to_datetime`

#시각화(matplotlib,seaborn)

In [ ]:
#한국어 다운로드
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
#한국어 적용
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus'] =False

#1. 노선별 승차총승객수 분포(boxplot사용)

#2.날짜별 총 승객수 추이(lineplot 사용)

#3. 노선별 승차 총승객수와 하차총승객수 비교(barplot사용)

#4. 특정 날짜에 가장 많은 승차총승객수를 기록한 역 상위 10개

#5. 승차총승객수와 하차총승객수의 관계

#6. 노선별 승하차총승객수 차이의 평균값

#7. 날짜별 승차총승객수 상위 5개 역의 승객수 추이

#8. 노선별 역의 개수

#9. 특정 역의 시간대별 승차총승객수 추이

# 10. 승차총승객수와 하차총승객수의 히스토그램

# 11. 특정 노선의 승하차 총승객수 분포

#12. 승하차총승객수 상위 10개 역의 파이차트

# 13. 일자별 특정 역의 승하차총승객수 합계 추이

#14. 노선별 승차총승객수 평균 막대 그래프