# Review Quiz
- python 코드로 작성하세요.

### 문제1.
- 회사명과 주가를 입력받으세요.
- 100만원이 있을 때, 구입 가능한 주식수와 남은 금액을 출력하는 프로그램을 작성하세요.

> 출력예시: ㅇㅇ사 주식 10주를 구입할 수 있으며, 남은 금액은 2000원 입니다.

### 문제2. 세 변의 길이 (정수)를 입력 받아 삼각형을 만들 수 있는지 판별하는 프로그램을 작성하세요.

### 문제3. 점심메뉴를 골라주는 프로그램을 작성하세요.
- 메뉴명 5개 이상을 원소로 가지는 리스트를 작성하세요.
- random.randint 함수를 활용하여 임의의 인덱스 값(숫자)을 선택하세요.

> 출력예시: 오늘의 점심메뉴는 ㅇㅇㅇ입니다.

In [ ]:
import random

### 문제4. 아래 딕셔너리 자료에서 content 키에 해당하는 문자열을 선택해서 출력하세요.

> 출력: 안녕하세요! 대화를 잘하는 챗봇입니다. 무엇을 도와드릴까요?

In [ ]:
data = {'id': 'chatcmpl-7dcucnWkjcCQvONs1UzUn6H8FX12j', 'object': 'chat.completion', 'created': 1689678726, 'model': 'gpt-3.5-turbo-0613', 'choices': [{'index': 0, 'message': {'role': 'assistant', 'content': '안녕하세요! 대화를 잘하는 챗봇입니다. 무엇을 도와드릴까요?'}, 'finish_reason': 'stop'}], 'usage': {'prompt_tokens': 32, 'completion_tokens': 35, 'total_tokens': 67}}

### 문제5. 아래 저장된 데이터의 key와 value를 바꾸세요.

In [ ]:
record = {
    'John Doe': 'name',
    30: 'age',
    'New York': 'city'
    }

### 문제 6. 어떤 사람이 매일 10km를 뛰고 달린 시간을 기록했다고 합니다. 지금까지 달린 횟수와, 평균 시간이 어떻게 되는지 알려주는 프로그램을 함수로 작성하세요. 사용자로 부터 입력을 계속 받고, 값을 입력하지 않고 enter를 치면 입력 받기는 종료되고 결과가 출력됩니다.

> 실행 예:

Enter 10 km run time : 15<br />
Enter 10 km run time : 20<br />
Enter 10 km run time : 10<br />
Enter 10 km run time : \<Enter\><br />
<br />
Average : 15.0, over 3 runs<br />

### 문제 7. 3부터 100까지 3의 배수만을 원소로 가지는 리스트를 만들려고 할 때,
- (a) range 함수를 사용해서 작성하세요.
- (b) list comprehension을 사용해서 작성하세요.

### 문제 8. 로또번호를 생성하는 (1~45 중 임의의 숫자 6개를 선택하는) 프로그램을 작성하세요.

In [ ]:
import random

### 문제 9. 피그 라틴은 영어권 국가 어린이들이 사용하는 비밀언어 입니다. 피그라틴의 규칙은 아래와 같습니다.

- 규칙1. 단어가 모음 (a, e, i, o, u)으로 시작하면 끝에 'way'를 붙입니다.
- 규칙2. 단어가 다른 글자로 시작하면, 첫글자를 단어의 맨 마지막으로 옮기고 그 뒤에 'ay'를 추가합니다.
> 예: air -> airway, eat -> eatway, python -> ythonpay, computer --> omputercay

pig_latin 이라는 이름의 함수를 만들어 위 규칙대로 단어가 변경되도록 구현하세요.

In [ ]:
def pig_latin():
  pass

# pig_latin('air') # airway
# pig_latin('python') # ythonpay

### 문제 10. 강수량 합계 구하기

- 아래 data는 (도시명, 비가온 날 강수량) 값을 기록한 것이다.
- 가장 비가 많이 온 도시가 어디인지 찾아내시오.

In [ ]:
data = [('Sydney', 78),
 ('Sydney', 72),
 ('Seoul', 65),
 ('Seoul', 23),
 ('New York', 55),
 ('Seoul', 24),
 ('Sydney', 36),
 ('Seoul', 38),
 ('London', 83),
 ('Sydney', 24),
 ('Sydney', 43),
 ('Paris', 66),
 ('London', 24),
 ('New York', 56),
 ('Seoul', 20),
 ('New York', 27),
 ('New York', 43),
 ('New York', 62),
 ('Sydney', 24),
 ('London', 37),
 ('New York', 30),
 ('Paris', 61),
 ('London', 34),
 ('Paris', 35),
 ('New York', 26),
 ('Sydney', 37),
 ('Paris', 84),
 ('Seoul', 82),
 ('New York', 64),
 ('London', 60),
 ('Seoul', 63),
 ('Sydney', 37),
 ('Sydney', 54),
 ('Paris', 46),
 ('London', 27),
 ('Sydney', 44),
 ('Sydney', 61),
 ('Paris', 72),
 ('Paris', 46),
 ('Paris', 52),
 ('New York', 36),
 ('Paris', 51),
 ('Paris', 22),
 ('Seoul', 65),
 ('London', 28),
 ('New York', 36),
 ('New York', 73),
 ('Paris', 56),
 ('Seoul', 42),
 ('Sydney', 71)]