# Review Quiz
- python 코드로 작성하세요.

### 문제1.
- 회사명과 주가를 입력받으세요.
- 100만원이 있을 때, 구입 가능한 주식수와 남은 금액을 출력하는 프로그램을 작성하세요.

> 출력예시: ㅇㅇ사 주식 10주를 구입할 수 있으며, 남은 금액은 2000원 입니다.

In [ ]:
def calculate_stock_purchase(company_name, stock_price):
    budget = 1000000  # 100만원
    num_stocks = budget // stock_price
    remaining_amount = budget % stock_price

    return num_stocks, remaining_amount

def main():
    try:
        company_name = input("회사명을 입력하세요: ")
        stock_price = int(input(f"{company_name}의 주가를 입력하세요: "))

        num_stocks, remaining_amount = calculate_stock_purchase(company_name, stock_price)

        print(f"{company_name} 주식 {num_stocks}주를 구입할 수 있으며, 남은 금액은 {remaining_amount}원 입니다.")
    except ValueError:
        print("잘못된 입력입니다. 숫자를 입력해주세요.")

if __name__ == "__main__":
    main()

### 문제2. 세 변의 길이 (정수)를 입력 받아 삼각형을 만들 수 있는지 판별하는 프로그램을 작성하세요.

In [ ]:
def is_triangle(a, b, c):
    if a + b > c and a + c > b and b + c > a:
        return True
    else:
        return False

def main():
    try:
        a = int(input("첫 번째 변의 길이를 입력하세요: "))
        b = int(input("두 번째 변의 길이를 입력하세요: "))
        c = int(input("세 번째 변의 길이를 입력하세요: "))

        if is_triangle(a, b, c):
            print("세 변의 길이로 삼각형을 만들 수 있습니다.")
        else:
            print("세 변의 길이로 삼각형을 만들 수 없습니다.")
    except ValueError:
        print("잘못된 입력입니다. 정수를 입력해주세요.")

if __name__ == "__main__":
    main()

### 문제3. 점심메뉴를 골라주는 프로그램을 작성하세요.
- 메뉴명 5개 이상을 원소로 가지는 리스트를 작성하세요.
- random.randint 함수를 활용하여 임의의 인덱스 값(숫자)을 선택하세요.

> 출력예시: 오늘의 점심메뉴는 ㅇㅇㅇ입니다.

In [ ]:
import random

def choose_lunch_menu():
    menu_list = ["김치찌개", "된장찌개", "비빔밥", "돈까스", "칼국수", "냉면", "불고기"]

    # 리스트의 인덱스 범위 내에서 임의의 숫자 선택
    chosen_index = random.randint(0, len(menu_list) - 1)

    chosen_menu = menu_list[chosen_index]

    print(f"오늘의 점심메뉴는 {chosen_menu}입니다.")

if __name__ == "__main__":
    choose_lunch_menu()

### 문제4. 아래 딕셔너리 자료에서 content 키에 해당하는 문자열을 선택해서 출력하세요.

> 출력: 안녕하세요! 대화를 잘하는 챗봇입니다. 무엇을 도와드릴까요?

In [ ]:
data = {'id': 'chatcmpl-7dcucnWkjcCQvONs1UzUn6H8FX12j', 'object': 'chat.completion', 'created': 1689678726, 'model': 'gpt-3.5-turbo-0613', 'choices': [{'index': 0, 'message': {'role': 'assistant', 'content': '안녕하세요! 대화를 잘하는 챗봇입니다. 무엇을 도와드릴까요?'}, 'finish_reason': 'stop'}], 'usage': {'prompt_tokens': 32, 'completion_tokens': 35, 'total_tokens': 67}}

# content 키에 해당하는 문자열을 선택해서 출력
content_message = data['choices'][0]['message']['content']
print(content_message)

### 문제5. 아래 저장된 데이터의 key와 value를 바꾸세요.

In [ ]:
record = {
    'John Doe': 'name',
    30: 'age',
    'New York': 'city'
    }

# Key와 value를 바꾸기
reversed_record = {value: key for key, value in record.items()}

print(reversed_record)

### 문제 6. 어떤 사람이 매일 10km를 뛰고 달린 시간을 기록했다고 합니다. 지금까지 달린 횟수와, 평균 시간이 어떻게 되는지 알려주는 프로그램을 함수로 작성하세요. 사용자로 부터 입력을 계속 받고, 값을 입력하지 않고 enter를 치면 입력 받기는 종료되고 결과가 출력됩니다.

> 실행 예:

Enter 10 km run time : 15<br />
Enter 10 km run time : 20<br />
Enter 10 km run time : 10<br />
Enter 10 km run time : \<Enter\><br />
<br />
Average : 15.0, over 3 runs<br />

In [ ]:
def calculate_average_run_time():
    run_times = []

    while True:
        user_input = input("Enter 10 km run time : ")

        if user_input == "":
            break

        try:
            run_time = float(user_input)
            run_times.append(run_time)
        except ValueError:
            print("Invalid input. Please enter a number.")

    if run_times:
        total_runs = len(run_times)
        average_time = sum(run_times) / total_runs
        print(f"Average : {average_time:.1f}, over {total_runs} runs")
    else:
        print("No run times entered.")

if __name__ == "__main__":
    calculate_average_run_time()

### 문제 7. 3부터 100까지 3의 배수만을 원소로 가지는 리스트를 만들려고 할 때,
- (a) range 함수를 사용해서 작성하세요.
- (b) list comprehension을 사용해서 작성하세요.

In [ ]:
multiples_of_three = list(range(3, 101, 3))
print(multiples_of_three)

multiples_of_three = [x for x in range(3, 101) if x % 3 == 0]
print(multiples_of_three)

### 문제 8. 로또번호를 생성하는 (1~45 중 임의의 숫자 6개를 선택하는) 프로그램을 작성하세요.

In [ ]:
import random

def generate_lotto_numbers():
    # 1부터 45까지의 숫자 중에서 중복되지 않는 6개의 숫자를 선택합니다.
    lotto_numbers = random.sample(range(1, 46), 6)
    # 선택된 숫자를 정렬합니다.
    lotto_numbers.sort()
    return lotto_numbers

def main():
    lotto_numbers = generate_lotto_numbers()
    print(f"생성된 로또 번호: {lotto_numbers}")

if __name__ == "__main__":
    main()

생성된 로또 번호: [18, 19, 24, 30, 42, 43]

### 문제 9. 피그 라틴은 영어권 국가 어린이들이 사용하는 비밀언어 입니다. 피그라틴의 규칙은 아래와 같습니다.

- 규칙1. 단어가 모음 (a, e, i, o, u)으로 시작하면 끝에 'way'를 붙입니다.
- 규칙2. 단어가 다른 글자로 시작하면, 첫글자를 단어의 맨 마지막으로 옮기고 그 뒤에 'ay'를 추가합니다.
> 예: air -> airway, eat -> eatway, python -> ythonpay, computer --> omputercay

pig_latin 이라는 이름의 함수를 만들어 위 규칙대로 단어가 변경되도록 구현하세요.

In [ ]:
def pig_latin(word):
    vowels = 'aeiou'

    if word[0].lower() in vowels:
        return word + 'way'
    else:
        return word[1:] + word[0] + 'ay'

# 테스트 예시
print(pig_latin("air"))      # airway
print(pig_latin("eat"))      # eatway
print(pig_latin("python"))   # ythonpay
print(pig_latin("computer")) # omputercay

### 문제 10. 강수량 합계 구하기

- 아래 data는 (도시명, 비가온 날 강수량) 값을 기록한 것이다.
- 가장 비가 많이 온 도시가 어디인지 찾아내시오.

In [ ]:
data = [('Sydney', 78),
 ('Sydney', 72),
 ('Seoul', 65),
 ('Seoul', 23),
 ('New York', 55),
 ('Seoul', 24),
 ('Sydney', 36),
 ('Seoul', 38),
 ('London', 83),
 ('Sydney', 24),
 ('Sydney', 43),
 ('Paris', 66),
 ('London', 24),
 ('New York', 56),
 ('Seoul', 20),
 ('New York', 27),
 ('New York', 43),
 ('New York', 62),
 ('Sydney', 24),
 ('London', 37),
 ('New York', 30),
 ('Paris', 61),
 ('London', 34),
 ('Paris', 35),
 ('New York', 26),
 ('Sydney', 37),
 ('Paris', 84),
 ('Seoul', 82),
 ('New York', 64),
 ('London', 60),
 ('Seoul', 63),
 ('Sydney', 37),
 ('Sydney', 54),
 ('Paris', 46),
 ('London', 27),
 ('Sydney', 44),
 ('Sydney', 61),
 ('Paris', 72),
 ('Paris', 46),
 ('Paris', 52),
 ('New York', 36),
 ('Paris', 51),
 ('Paris', 22),
 ('Seoul', 65),
 ('London', 28),
 ('New York', 36),
 ('New York', 73),
 ('Paris', 56),
 ('Seoul', 42),
 ('Sydney', 71)
 ]

def find_city_with_most_rain(data):
    rainfall_totals = {}

    for city, rainfall in data:
        if city in rainfall_totals:
            rainfall_totals[city] += rainfall
        else:
            rainfall_totals[city] = rainfall

    max_rainfall_city = max(rainfall_totals, key=rainfall_totals.get)
    return max_rainfall_city, rainfall_totals[max_rainfall_city]

city, total_rainfall = find_city_with_most_rain(data)
print(f"가장 비가 많이 온 도시는 {city}이며, 총 강수량은 {total_rainfall}mm입니다.")

가장 비가 많이 온 도시는 Paris이며, 총 강수량은 591mm입니다.